server:
  port: 8081

spring:
  security:
    user:
      name: catalogue_service_user
      password: password
      roles:
        - SERVICE
  datasource:
    url: jdbc:postgresql://localhost:5432/catalogue
    username: catalogue
    password: catalogue
  flyway:
    schemas:
      - public
      - catalogue
  jpa:
    show-sql: true
    open-in-view: false

logging:
  level:
    sql: info
